<div class="main_image_area">
  <div class="container">
    <div class="top_main_block">
      <h2 class="center">逆算思考で夢をカナエル。</h2>
      <p class="center">夢を叶えるには身近なところから一歩ずつ。</p>
      <a class="link_btn main_top_link" href="#">無料で始める</a>
    </div><!--/.top_main_block-->
  </div><!--/.container-->
</div><!--/.main_image_area-->

<div class="bg_gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section>
          <h2 class="center top_h2"><%= image_tag "top/logo.svg" , :width => '250' %><span>とは？</span></h2>
          <h3 class="center top_h3">人生のビジョンを逆算して叶えましょう。</h3>
          <p class="center">皆さんは将来のビジョン（なりたい自分）を持っていますか？<span class="br"></span>
          実際の多くの方がそういった夢や目標を持っていると思います。<span class="br"></span>
          しかし、実際には日々の忙しさ「やらなければいけないこと」に追われ、<span class="br"></span>
          自分のビジョンに近づけない人が大勢います。</p>
          <p class="center">この「kanaeru」では皆さんが持っているビジョンを設定し、<span class="br"></span>
          そのビジョンに向かって逆算的に目標と期限を細分化し、<span class="br"></span>
          その目標をコツコツと達成することで達成感を味わいながら、<span class="br"></span>
          自分の目標とする自分になる事ができます。</p>
        </section>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.bg_gray-->

<div class="container">
  <section>
  <h2 class="center top_h2"><%= image_tag "top/logo.svg" , :width => '250' %><span>の目標達成フロー</span></h2>

  <div class="row flow_block">
    <div class="col-sm-5"><%= image_tag("top/flow01.png") %></div>
    <div class="col-sm-7">
      <div class="flow_text">
        <h3 class="top_h3">人生の目標・夢を設定する</h3>
        <p>夢や目標を実現するために最初に必要なのは、
        「こうありたい」という心の底からワクワクする未来像、
        つまり人生のビジョンを描くことです。
        これが行動の原動力になります。</p>
      </div><!--/.flow_text-->
    </div>
  </div><!--/.row-->



  <div class="flow_block row">
    <div class="col-sm-7">
      <div class="flow_text">
        <h3 class="top_h3">ビジョンから逆算して計画を立てる</h3>
        <p>ぎはビジョンから「逆算」して計画を立てていきます。
        いつまでに実現させたいのか、そのために必要なステップはなにか。
        夢を夢のまま終わらせないために、10年以内に実現したいこと、
        一年以内に実現させたいことを順番に「
        逆算思考」で計画していきます。</p>
      </div><!--/.flow_text-->
    </div>
    <div class="col-sm-5"><%= image_tag("top/flow02.png") %></div>
  </div>

  <div class="flow_block flow_block_last row">
    <div class="col-sm-5"><%= image_tag("top/flow03.png") %></div>
    <div class="col-sm-7">
      <div class="flow_text">
        <h3 class="top_h3">達成感を得ながら目標を達成する</h3>
        <p>月別のガントチャートには、目標の達成度をビジュアルで把握できる
          「進捗バー」がついています。当月の目標に対してどこまで
          進んでいるのかが確認しやすく、達成感を得ながら着実に
          目標を達成していくことができます。</p>
      </div><!--/.flow_text-->
    </div>
  </div><!--/.row-->

  </section>
</div><!--/.container-->


<div class="top_bottom_area">
  <div class="container">
    <h3 class="center">まずは試しに始めてみよう!</h2>
    <a class="link_btn main_bottom_link" href="#">今すぐkanaeruを始める(無料登録)</a>
</div><!--./container-->
</div><!--/.top_bottom_area-->
